## Built-in Functions
- built-in we've used so far: type(), int(), float(), str(), input(), ord(), list(), isinstance(), print(), etc.
- Python provides a list of built-in functions that are readily available for use:
https://docs.python.org/3/library/functions.html
- some built-in functions that may be useful to know

### bin(x)
- converts an integer number to a binary string prefixed with "0b".

In [ ]:
bin(3)

In [ ]:
# If prefix "ob is desired or nor, use either of the following ways
print(format(3, '#b'))
print(format(3, 'b'))

### chr(i)
- returns the string representing a character whose Unicode code point is the integer i
- inverse of ord(char)

In [ ]:
print(chr(65))
print(chr(97))
print(chr(8364))

### divmod(a, b)
- given two non-complex numbers as arguments, return a pair of numbers as tuple consisting of their quotient and remainder using integer division

In [ ]:
print(divmod(7, 3)) # return (quotient, remainder)
quotient, remainder = divmod(7, 3)
print(quotient, remainder)

### enumerate(iterable, start=0)
- returns an enumerate object. iterable must be a sequence, an iterator or object that supports iterations

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print(list(enumerate(seasons)))
print(list(enumerate(seasons, start=1)))

### eval(expression, globals=None, locals=None)
- the expression argument is parsed and evaluated as Python expression
- syntax errors reported as exceptions

In [ ]:
x = 2
print(eval('x**2'))
print(eval('x+2*3'))

### globals() and locals()
- globals() returns a dictionary representing the current global symbol table
- locals() returns a dictionary representing the current local symbol table

In [ ]:
globals()

### hex(x)
- convert an integer number to a lowercase hexadecimal string prefixed with "0x"

In [ ]:
print(hex(42))
print(hex(-42))

In [ ]:
# Other ways
format(255, '#x'), format(255, 'x'), format(255, 'X')

### id(object)
- return the 'identity' of an object
- guaranteed unique integer and constant thoughout its lifetime

In [ ]:
id(seasons)

### map(function, iterable, ...)
- return an iterator that applies function to every item of iterable, yielding the results

In [ ]:
def function(x):
    return x**2

items = [1, 2, 3, 4, 5]
print(list(map(function, items)))

In [ ]:
def function1(x, y):
    return x*y

multipliers = items[::-1]
print('items = ', items)
print('multipliers = ', multipliers)
#mapping items with multipliers and applying function1 to each pair
print(list(map(function1, items, multipliers)))

### max(iterable, ...) or max(arg1, arg2, ...), min(), and sum(), pow(base, exp)
- max() - returns the largest item in an iterable or the largest of two or more arguments
- min() - returns the smallest
- sum() - retuns sum of the list of items
- pow(base, exp) - returns base to the power exp

In [ ]:
print(max(items))
print(max(100, 8.9, 999, 1000.5))
print(min(100, 8.9, 999, 1000.5))
print('sum of ', items, '=', sum(items))
print(sum([1, 2, 3]))
print('2 to the power 3 =', pow(2, 3))

### oct(x)
- return an octal string representation with "0o" prefix of a given integer x

In [ ]:
print(oct(100))

In [ ]:
format(10, '#o'), format(10, 'o')

### ord(c)
- return an integer representing the Unicode code of a given Unicode character

In [ ]:
print(ord(' '))
print(ord('~'))

### print(*object, sep=' ', end='\n', file=sys.stdout, flush=False)

### range(stop), range(start, stop[, step])
- returns an iterator to immutable sequence type

## set([iterable])
- returns a new set object, optionally with elements taken from iterable
- specialized sequence data structure like list and tuple

In [ ]:
help(set)

### createing set objects

In [ ]:
set1 = set()
set2 = set([1, 1, 2, 2, 3, 3, 'a', 'a'])

In [ ]:
print(set1)
print(set2)

In [ ]:
set1.add(100)
set1.add(100)
set1.add(10)
set1.add(1)
print(set1)

In [ ]:
print(set1.intersection(set2))

In [ ]:
print(set1.union(set2))

### exercise: practice with other set methods

### sorted(iterable, \*, key=None, reverse=False)
- returns a new sorted list from the items in iterable
- *key* specifies a function of one argument that is used to extract a comparision key from each list element: key=str.lower
- *reverse* if set to True, list elements are sorted if each comparison were reversed

In [ ]:
list1 = ['apple', 'Apple', 'ball', 'Ball', 'cat']
list1.sort()

In [ ]:
list1

In [ ]:
list2 = sorted(list1, key=str.lower)

In [ ]:
print(list1)
print(list2)

In [ ]:
list3 = [('cat', 10), ('ball', 20), ('apple', 3)]

In [ ]:
list3.sort()
print(list3)

### sort list of tuples based on 2<sup>nd</sup> value

In [ ]:
from operator import itemgetter
list4 = sorted(list3, key=itemgetter(1))

In [ ]:
print(list4)

In [ ]:
list5 = sorted(list3, key=itemgetter(1), reverse=True)

In [ ]:
list5

### write your own key function

In [ ]:
def myKey(tup):
    return tup[1]

list6 = sorted(list3, key=myKey, reverse=True)
assert list5 == list6